.header{
    width: 1300px;
    height: 600px;
    border: 1px solid;
    margin: 0 auto;
    &__nav{
        display: flex;
        width: 100%;
        height: 10%;
        border: 1px solid;
        &-logo{
            width: 30%;
            height: 100%;
            border: 1px solid;
        }
        &-list{
            width: 70%;
            height: 100%;
            border: 1px solid;
        }
    }
    &__hero{
        display: flex;
        width: 100%;
        height: 90%;
        &-left{
            width: 50%;
            height: 100%;
            border: 1px solid;
        }
        &-right{
            width: 50%;
            height: 100%;
            border: 1px solid;
        }
    }
}